@charset "UTF-8";
.str1 {stroke:#41D5FF;stroke-width:3.469;stroke-miterlimit:22.9256}
.str0 {stroke:#FF6600;stroke-width:3.469;stroke-miterlimit:22.9256}
.str7 {stroke:#FF7B25;stroke-width:3.469;stroke-miterlimit:22.9256}
.str5 {stroke:#999999;stroke-width:1.734;stroke-miterlimit:22.9256}
.str2 {stroke:white;stroke-width:6.938;stroke-miterlimit:22.9256}
.str6 {stroke:#FF7B25;stroke-width:0.656;stroke-miterlimit:22.9256}
.str4 {stroke:#41D5FF;stroke-width:1.734;stroke-miterlimit:22.9256;stroke-dasharray:3.469000 5.203000}
.str3 {stroke:#FF6600;stroke-width:1.734;stroke-miterlimit:22.9256;stroke-dasharray:3.469000 1.734000}
.fil1 {fill:none}
.fil0 {fill:red}
.fil2 {fill:#FF6600}
.fil4 {fill:#FF6600}
.fil5 {fill:#FF7B25}
.fil3 {fill:white}
