@charset "UTF-8";
.str6 {stroke:#41D5FF;stroke-width:3.566;stroke-miterlimit:22.9256}
.str5 {stroke:#FF6600;stroke-width:3.566;stroke-miterlimit:22.9256}
.str4 {stroke:#FF7B25;stroke-width:3.566;stroke-miterlimit:22.9256}
.str2 {stroke:#41D5FF;stroke-width:1.783;stroke-miterlimit:22.9256}
.str7 {stroke:white;stroke-width:7.132;stroke-miterlimit:22.9256}
.str3 {stroke:#FF7B25;stroke-width:0.674;stroke-miterlimit:22.9256}
.str0 {stroke:#00789A;stroke-width:1.783;stroke-miterlimit:22.9256;stroke-dasharray:3.565000 5.348000}
.str1 {stroke:#41D5FF;stroke-width:1.783;stroke-miterlimit:22.9256;stroke-dasharray:1.783000 5.348000}
.fil0 {fill:none}
.fil2 {fill:#00789A}
.fil1 {fill:#41D5FF}
.fil5 {fill:#FF6600}
.fil3 {fill:#FF7B25}
.fil4 {fill:white}
