@charset "UTF-8";
.str3 {stroke:white;stroke-width:3.974;stroke-miterlimit:22.9256}
.str2 {stroke:#41D5FF;stroke-width:1.987;stroke-miterlimit:22.9256}
.str1 {stroke:#FF6600;stroke-width:1.987;stroke-miterlimit:22.9256}
.str0 {stroke:#00789A;stroke-width:0.751;stroke-miterlimit:22.9256}
.fil2 {fill:none}
.fil0 {fill:#00789A}
.fil3 {fill:#00CCFF}
.fil1 {fill:white}
