@charset "UTF-8";
.str2 {stroke:#41D5FF;stroke-width:2.742;stroke-miterlimit:22.9256}
.str1 {stroke:#00C8FF;stroke-width:3.656;stroke-miterlimit:22.9256}
.str0 {stroke:#00C8FF;stroke-width:0.691;stroke-miterlimit:22.9256}
.fil1 {fill:none}
.fil0 {fill:#00789A}
.fil2 {fill:#00C8FF}
.fil3 {fill:#FF6600}
.fil4 {fill:white}
