@charset "UTF-8";
.str1-icon1 {stroke:white;stroke-width:31.76;stroke-miterlimit:22.9256}
.str0-icon1 {stroke:#999999;stroke-width:15.88;stroke-miterlimit:22.9256}
.fil0-icon1 {fill:#B3B3B3}
.fil2-icon1 {fill:#FF6600}
.fil1-icon1 {fill:white}
