// Breadcrumbs
.bradcrumb_container {
  //padding:  5px;

  height: 30px;
  overflow: hidden;

  .bradcrumb_scrollable {
    height:80px; /* 40px - more place for scrollbar, is hidden under parent box */

    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hide;
    direction: rtl;
    -webkit-overflow-scrolling:touch;
    text-align:left;


    .breadcrumb {
      font-size: 16px;
      //color: rgba(255,255,255, .7);

      i,
      [class^="mdi-"], [class*="mdi-"],
      i.material-icons {
        display: inline-block;
        float: left;
        font-size: 24px;
      }

      &:hover {
          &:after {
            color:$grey-color;
          }
        }
       
      &:after {
        content: '/';
        color:$grey-color;
        //color: $light-color;
        //color: rgba(255,255,255, .7);
        //vertical-align: top;
        display: inline-block;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: normal;
        font-style: normal;
        //font-size: 25px;
        margin: 0 10px 0 8px;
        -webkit-font-smoothing: antialiased;
        

      }

      &:first-child:before {
        //display: none;
        font-family: 'Material Icons';
        content: 'home';
        font-size: 22px;
        line-height: 22px;
        position:relative;
        bottom:-4px;
        padding-right:4px;
      }

      &:last-child:after {
        display: none;
        //font-family: 'Material Icons';
        //content: 'home';
      }

      &:last-child {
        color: $dark-color;
        //font-weight:bold;
      }
    }
  }
}