.carousel {
  &.carousel-slider {
    top: 0;
    left: 0;

    .carousel-fixed-item {
      &.with-indicators {
        bottom: 68px;
      }

      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      z-index: 1;
    }

    .carousel-item {
      width: 100%;
      height: 100%;
      min-height: $carousel-height;
      position: absolute;
      top: 0;
      left: 0;

      h2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  overflow: hidden;
  position: relative;
  width: 100%;
  height: $carousel-height;
  perspective: 500px;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;

  .carousel-item {
    visibility: hidden;
    width: $carousel-item-width;
    height: $carousel-item-height;
    position: absolute;
    top: 0;
    left: 0;

    & > img {
      width: 100%;
    }
  }

  .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;

    .indicator-item {
       background-color: white !important;
      &.active {
        background-color: $primary-color !important;
      }

      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 8px;
      width: 8px;
      margin: 24px 4px;
      background-color: rgba(255,255,255,.5);

      transition: background-color .3s;
      border-radius: 50%;
    }
  }

  // Materialbox compatibility
  &.scrolling .carousel-item .materialboxed,
  .carousel-item:not(.active) .materialboxed {
    pointer-events: none;
  }

  &.with_arrows{
      .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;


    
  }

  .slider-arrow {
     position:absolute;
     top: 45%;
     }
    .slider-arrow-btn {
     font-size: 4rem;
     //border:1px solid $light-color;
     margin: 0 0.5rem;
     transition: all 300ms;
     text-align: center !important;
     border:2px solid transparent;
     color: $dark-color;

     
    }

    a.slider-arrow-btn {
      //color:white !important;
      font-size: 4rem;
      @extend .btn-floating, .btn-flat;
      background-color: rgba(52, 52, 52, 0.1);
      //opacity:1;
      &:hover {
       background-color: rgba(52, 52, 52, 0.7);
        //opacity:0.7; 
      }
    }

  .content-indicator {
      width: 40px;
      height: 40px;
      background: none;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px; 
    }

  }
  &.carousel-header {
    @media #{$small-and-down} { 
      height:250px !important;
    }

    @media #{$medium-and-up} {
       height:400px !important;
    }
  }
}
