.collapsible {
  border-top: 1px solid $collapsible-border-color;
  //border-right: 1px solid $collapsible-border-color;
  //border-left: 1px solid $collapsible-border-color;
  //margin: $element-top-margin 0 $element-bottom-margin 0;
  //@extend .z-depth-1;
  margin:0;
  
  &.panel {
    padding:0;
  }

}

.collapsible-header {
  background-color: white;
  border-right: 1px solid $collapsible-border-color;
  border-left: 1px solid $collapsible-border-color;
  &:focus {
    outline: 0
  }

  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: $collapsible-header-color;
  border-bottom: 1px solid $collapsible-border-color;

  i {
    width: 2rem;
    font-size: 1.6rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
  }
}
.keyboard-focused .collapsible-header:focus {
  background-color: #eee;
}

.collapsible-body {
  display: none;
  border-bottom: 1px solid $collapsible-border-color;
  box-sizing: border-box;
  padding: 2rem;
  background-color: white;
   border-right: 1px solid $collapsible-border-color;
  border-left: 1px solid $collapsible-border-color;
}

// Sidenav collapsible styling
.sidenav,
.sidenav.fixed,
.sidebox {

  .collapsible {
    border: none;
    box-shadow: none;

    li { padding: 0; }
  }

  .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 $sidenav-padding;

    &:hover { background-color: rgba(0,0,0,.05); }
    i { line-height: inherit; }
  }

  .collapsible-body {
    border: 0;
    background-color: $collapsible-header-color;

    li a {
      padding: 0 (7.5px + $sidenav-padding)
               0 (15px + $sidenav-padding);
    }
  }

}

// Popout Collapsible

.collapsible.popout {
  border: none;
  box-shadow: none;
  > li {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    // transform: scaleX(.92);
    margin: 0 24px;
    transition: margin .35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }
  > li.active {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin: 16px 0;
    // transform: scaleX(1);
  }
}


// Collapsible with arrow
.collapsible.collapsible-arrow {
  h2, h3 {
      margin:0;
    }
  &.primary-collapsible {
    
    > li {
      margin-bottom: 1.5rem;
      //margin-top: 1em;
      .collapsible-header {
        justify-content: space-between; // REQUIRED FOR CARET TO POSITION PROPERLY!
        background-color: white; // OPTIONAL
        color: $dark-color; // OPTIONAL
        .caret {
          color: #999; // OPTIONAL
          color: gray; // OPTIONAL
          margin-right: 0; // REMOVE EXTRA MARGIN
          transition: transform 0.3s ease; // OPTIONAL ANIMATION SPEED
        }
      }
      &.active {
        .collapsible-header {
          //background-color: $secondary-color; // OPTIONAL
          //color: white; // OPTIONAL
          color: $dark-color; // OPTIONAL
          .caret {
            color: $primary-color; // OPTIONAL
            transform: rotate(-180deg); // SPIN ANIMATION
            transform-origin: 0.6em 0.5em; // SPIN ANIMATION ADJUSTMENT
          }
        }
      }
      .collapsible-body {
         //width: 96%;
       margin: 0 auto;
       padding: 0.5em;
       background-color: white;

      } 
    }

  }
  
}

.secondary-collapsible {
    margin:0;
    border-top: none;
    > li {
      //margin-bottom:1em;
      //margin-top:1em;
      padding:0.5em !important;
      
      .collapsible-header {
       border-top: 1px solid $collapsible-border-color;
        //padding-top: 8px;
        //padding-bottom:8px;
        justify-content: space-between; // REQUIRED FOR CARET TO POSITION PROPERLY!
        //background-color: $light-color !important; // OPTIONAL
        //color: $dark-color !important; // OPTIONAL
        background-color: $light-color !important; // OPTIONAL
        color: $dark-color !important; // OPTIONAL
        border:0;
        .caret-child {
          color: #999; // OPTIONAL
          color: $dark-color; // OPTIONAL
          margin-right: 0; // REMOVE EXTRA MARGIN
          transition: transform 0.3s ease; // OPTIONAL ANIMATION SPEED
        }
        &:not(:first-child) {
          border-top: 1px solid $collapsible-border-color;
        }
        .secondary-collapsible-body {
        padding: 0.5em !important;
        }
      }
      
      &.active {
        .collapsible-header {
          //background-color: $secondary-color; // OPTIONAL
          color: white; // OPTIONAL
          .caret-child {
            color: $dark-color; // OPTIONAL
            transform: rotate(-180deg); // SPIN ANIMATION
            transform-origin: 0.6em 0.5em; // SPIN ANIMATION ADJUSTMENT
          }
        }
      }

    }
    
  }
  .secondary-collapsible-body {
        padding: 0 !important;
        .collection-item {
          //padding: 0 !important;
        }
      } 

.card{ padding:1em !important }