
/*
1. Company logo
2. Rating
3. Address
4. Bonusses and Discounts
5. Buttons Actions
6. Employess photos
7. Radio toolbar add_to_cart
8. Step-Progress bar
9. Radio toolbar select_employees
10. Select datetime
11. Buttons
12. Cart
13
14. Home
15. Landing Page
*/

/****************************
1 *** Company logo
****************************/

.company-logo-wrapper {
  position:relative;

}
.company-logo  {
  border-radius:50%;
  @media #{$small-and-down} { 
      width: 100px;
      height: 100px;
      position: absolute;
      border: 4px solid white;
      top: -80px;
      left: 10px;
      float: left;
    }

  @media #{$medium-and-up} { 
      width:140px;
      height:140px;
      position:absolute;
      border:6px solid white;
      top:-110px;
      left:40px;
      float:left;
    }

  z-index:99;
  background-color: gray;
  margin-bottom:1rem;

}



.employee-photo  {
  width:100px;
  height:100px;
  margin: 0 auto;
  border:6px solid $secondary-color;
  z-index:99;
  background-color: $light-color;
  margin-bottom:1rem;
  //@extend: .center-align, .circle;
}

.employee-container  {
  padding:10px;
  margin:10px;
}


/****************************
2 *** Rating
****************************/

i {
  &.rating-star {
    //font-size:20px;
  }
}

.rating {
  font-size: 2rem;
  //padding:2px;
  line-height:1.6rem;

  }

  .rating-star {
  font-size:1.8rem !important;
  position:relative;
  top:3px;
  }

  .mini-rating-star {
  font-size:1rem !important;
  position:relative;
  top:3px;
  }

  .rating-circle {
    width:42px;
    height:42px;
    border-radius: 50%;
    color:white;
    font-size: 1.4rem;
    background-color:$secondary-color;
  }


/****************************
3 *** Address
****************************/

.address {
  //font-size: 1.2em;
  line-height:21px;

  i.small {
  font-size:18px;
  //position:relative;
  //top:4px;
  }
}


.photo-padding {
padding-left: 7px !important;
}
/****************************
4 *** Bonusses and Discounts
****************************/

.bonus-label {
  @extend .grey-text, .text-darken-1;
  font-size:12px;
  display:block;
}

#discount_booking_info,
#discount_buy_info,
#discount_payment_info {
  display:none;
}

 .unactive {

  opacity:0.3;
  img {
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
    -webkit-filter: grayscale(100%); /* New WebKit */
    //filter: url(resources.svg#desaturate); /* older Firefox */
    filter: grayscale(100%); /* Current draft standard */
  }

  .disc {
    border: 1px solid $light-color !important;
    opacity: 0.2;

  }
  .discount {
      background-color: $grey-color !important;
      color: $light-color !important; 
  }
  .card {
    border: 1px solid $light-color !important;
  }

 }

.discount {
  @extend .badge;
    font-weight: 300;
    font-size: 1rem;
    color: #fff !important;
    background-color: #01b707;
    border-radius: 2px;
    &.unactive {
      color: $grey-color !important;
      background-color: $light-color !important;
    }
  }

.dukat {
    font-weight: 300;
    font-size: 1rem;
    color: white;
    background-color: gold;
    border-radius: 50%;
    //border: 2px solid brown;
    width:30px;
    height:30px;
    display:inline-block;
    line-height: 26px;
    @extend .z-depth-1;
    //font-weight:bold;
    //&span {
    //  content: 'R';
    //  font-weight:bold;
    //};
  }

.dukat_amount {
  font-weight: bold;
  @extend .grey-text, .text-darken-2;
  position:relative;
  top:-5px;
}

.card_amount {
  font-weight: bold;
  @extend .grey-text, .text-darken-2;
  position:relative;
  top:-25px;
}

.bon {
  height:50px;
  width:100px;
  background-color: gray;
  display:inline-block;
  .discount {
    float:right;

  }
}

.btn-secondary {
  background-color: $secondary-color !important;
  &:hover {
  background-color: $secondary-color-light !important;
  }
}

.section-title {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $light-color;
    color:$secondary-color;
}

.secondary-text {
  color: $secondary-color;
}

.collection {
  padding:0;
  padding: 0 !important;
  overflow:visible !important;

  
  .text {
    margin: 0 auto !important;
    @extend .avatar;

    padding-left: 20px !important;
    .title {
    margin-bottom: 20px;

    }
  }
  .secondary-content {
    top: 8px !important;
  }

  .input-field {
    margin: 0;
  }

  .input-field > label {
    //padding: 0;
    //margin: 0;
    //font-size: 1rem;
  }

  .row {
    //margin-bottom: 0;
  }
  .row .col {
    //padding: 0;
  }

  

  .margin-bottom-10 {
    margin-bottom: 10px;
  }

  .margin-top-10 {
    margin-top: 10px;
  }

  .collection-item {
    background-color: transparent !important;
    
  }



}
.collection-item.photo {
  margin:0 !important;
  
}
.collapsible-body > .collection { margin:0; }
.card { 
 &.no-shadow {
  box-shadow: none;
 }
.empty-card {
  border: 1px solid red !important;
  }

//
&.shadow {
  box-shadow: inherit !important;
  }

}

.price {
    color: $primary-color;
    font-size: 28px;
    font-weight: 500;
    .pennies {
      position:relative;
      bottom:0px;
      font-size:18px;
      //text-decoration: underline;
    }
  }

  .total-price {
    color: $primary-color;
    font-size: 32px;
    font-weight: 500;
    .pennies {
      position:relative;
      bottom:0px;
      font-size:20px;
      //text-decoration: underline;
    }
  }

/****************************
5 *** Panel switch
****************************/
.switcher {
  cursor:pointer;
  //z-index:999;
  &.extra-active {
    //background-color:red;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
    cursor:default !important;
    //@extend .red, .z-depth-4;
  }
}
.switcher-close {
  padding:20px;
}
.extra-s {
  @media #{$small-and-down} {
    //@extend .hide-on-small-only;
    display:none;
  }

}
.extra-m {
  @media #{$medium-and-up} {
    display:block !important;
  }
}

.panel {
  
  .extra-content {
    display:none;
    .close {
      line-height: 48px;
    }
  }
  cursor: pointer;
}
.active-panel {
  cursor:default;
}

.dark-opacity {
  opacity:0.5;
  background-color:black;
  transition:300ms;
  //z-index:-1;
}

.close {
  i.material-icons { margin:0 !important;}
}

/****************************
5 *** Buttons actions
****************************/
.secondary-collapsible  {
    .category-item {
     @media #{$small-and-down} {
      padding:0 !important;
    }
  }
}
.category-item {
   @media #{$small-and-down} {
    padding:0.4em !important;
    margin-bottom: 0.8em;
  }
}
.card {
  @media #{$small-and-down} {
    padding:0.8em !important;
    &.no-pad {
      padding:0 !important;
      padding-top:0.8em !important;
    }
  }
}
.right-col {
  @media #{$small-and-down} {
  padding:0 !important;
  padding-left: 0.8em !important;
  }
}
.btn {
  &.secondary {
    @media #{$small-and-down} {
      width:100%;
      padding:0;
      border-radius: 0;
    }
  }
  &.primary {
    @media #{$small-and-down} {
      width:100%;
      padding:0;
      border-radius: 0;
    }
  }
}

/****************************
6 *** Employees photos
****************************/
.employee-photo {
  width:160px;
  height:160px;
}

.slick-slide {
  height:auto !important;
}

/****************************
7 *** Radio toolbar add_to_cart
****************************/
.radio-toolbar {
  margin: 10px;

  .col {
     input[type="radio"] {
      display:none; 
            display: table-cell;
      margin: 0 auto;
  }
    

 

    @media #{$small-and-down} {
      label.mini {font-size:0.9rem;}
   }  

      @media #{$medium-and-up} {
    label.mini {font-size:1em;}
   }  

   label {
      display:inline-block;
      //background-color:#ddd;
      padding: 0.5em;

      //font-size:0.8rem;
      //border: 1px solid gray;
      border-radius: 2px;    
      cursor: pointer;
      color: $dark-color;
      height: 3em;
      //line-height: 3em;
      width:100%;
      //box-shadow: inset 0 0 0 0 gray;
      vertical-align: middle !important;
      //border-radius:0;
      display: flex;
    justify-content: center;
    align-items: center;
    color:$primary-color;
    border-radius:25px;
    &.secondary {
        color:$secondary-color;
        &:hover {
          color:$secondary-color-dark;
          //box-shadow:    inset 0 0 0 1px $secondary-color;;
        }
    }

  }



   label:hover {
    //background-color: #dfd;
    //box-shadow: inset 0px 0px 2px 0px gray;
    //box-shadow:    inset 0 0 0 1px $primary-color;
    transition: all 100ms;
    color: $primary-color-dark;
  }

   input[type="radio"]:checked + label { 
      //background-color:#bfb;
       border: 1px solid $primary-color;
       color: $primary-color;
       -moz-box-shadow:    inset 0 0 0 1px $primary-color;
     -webkit-box-shadow: inset 0 0 0 1px $primary-color;
     box-shadow:         inset 0 0 0 1px $primary-color;
     //transition: box-shadow 150ms;
     background-color: $primary-color;
     color:white;
     cursor: default;
    }

    input[type="radio"]:checked + label.secondary {
      background-color: $secondary-color;
      color:white;
      //color: $secondary-color;
     cursor: default;
     border: 1px solid $secondary-color;
            -moz-box-shadow:    inset 0 0 0 1px $secondary-color;
     -webkit-box-shadow: inset 0 0 0 1px $secondary-color;
     box-shadow:         inset 0 0 0 1px $secondary-color;
     //transition: box-shadow 100ms;
    }
  }

  
}

.discount_unactive {
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
  transition: all 5s;
}

/****************************
8 *** Step-Progress Bar
****************************/
.container-progress-step {

  width: 100%;
  margin: 0 auto; 
  //background-color: $light-color;
  z-index:9999;

  @media #{$small-and-down} {
    border-top: 1px solid $light-color;
    border-bottom: 0;
  }
   @media #{$medium-and-up} {
    border-bottom: 0;
    #border-bottom: 1px solid $light-color;
     .progress-step li:after { z-index: 1;}
     max-width: 600px;
   }

  line-height: 64px;

    .progress-step {
    margin: 0;
    padding: 0;
    //padding-top:5px;
    //counter-reset: step;
    //padding-top: 5px !important;
    background-color: white;
  }
  .progress-step li {
    list-style-type: none;
    line-height:12px;

    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: $grey-color;
    margin-top:5px !important;

  }
  .four-step li  {
  width: 25%;
  }

  .three-step li  {
  width: 33%;
  }

  .two-step li  {
  width: 50%;
  }


  .hidden_step {
    width:0;
    overflow: hidden;
    transition: all 100ms;
  }

  *::before, *::after{
    box-sizing: border-box;
    //z-index:9999;
    margin-top: 3px;
  }

  .progress-step .icon {
    width: 30px;
    height: 30px;
    content: ' ';
    //counter-increment: step;
    line-height: 26px;
    border: 2px solid $light-color;
    color: $light-color;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    z-index:999;
    margin-top: 3px;
  }

  .in_progress > .icon {
  background-color: $primary-color;
  //background-color: $dark-color;
  border: 2px solid $dark-color;
  border: 2px solid $primary-color;
  color:white;

    width: 36px;
    height: 36px;
    line-height: 32px;
    margin-top:0;
  }

  .done > .icon {
  color: $primary-color;
  background-color: white;
  border: 2px solid $primary-color;

  }

  .progress-step li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: $light-color;
    top: 15px;
    left: -50%;
    z-index: -1;
    box-sizing:content-box !important;
    .done { background-color: $dark-color;  }
  }



  .progress-step li:first-child:after {
    content: none;
  }
  .progress-step li.in_progress {
    //color: $dark-color;
    color: $primary-color;
  }
  .progress-step li.done {
    color: $primary-color;
  }

  .progress-step li.in_progress:after {
    background-color: $primary-color !important;
  }

   .progress-step li.done:after {
    background-color: $primary-color !important;
  }

  .progress-step li.done:before {
    border-color: $primary-color  !important;

  }
  .progressbar li.in_progress + li:after {
    background-color: $light-color;
  }

}

/****************************
9 ***  Radio toolbar select_employees
****************************/
.radio-toolbar {
  margin: 10px;
    &.employees {
       margin-right:0 !important;
     input[type="radio"] {
      display:none; 
            display: table-cell;
      margin: 0 auto;

    }

    input[type="radio"]:checked + label { 
      //background-color:#bfb;
       border: 2px solid $primary-color;
       color: $primary-color;
       -moz-box-shadow:    inset 0 0 0 2px $primary-color;
     -webkit-box-shadow: inset 0 0 0 2px $primary-color;
     box-shadow:         inset 0 0 0 2px $primary-color;
     //transition: box-shadow 150ms;
     background-color: transparent !important;
     //color:white;
     cursor: default;
    }
    
   
 

    @media #{$small-and-down} {
      label {font-size:0.8rem; height: 90px !important;  width:90px; padding: 3px !important ;


       .employee-photo {
      width:80px !important;
      height: 80px !important;
      margin:0; 
      border:0;
       }
      }
   }  

      @media #{$medium-and-up} {
    label {font-size:1em; height: 120px !important;  width:120px; padding: 8px; 



       .employee-photo {
      width:100px !important;
      height: 100px !important;
      margin:0; 
      border:0;
     

      }
    }
   }  

   label {
      display:inline-block;
      //background-color:#ddd;
      

      //font-size:0.8rem;
      //border: 1px solid gray;
      border-radius: 50%;    
      cursor: pointer;
      color: $dark-color;
      //height: 100px;
      //line-height: 3em;
      ///width:100px;
      //box-shadow: inset 0 0 0 0 gray;
      vertical-align: middle !important;
      //border-radius:0;
      display: flex;
    justify-content: center;
    align-items: center;
    color:$dark-color;
    display: block;
    margin: 0 auto;

    &.secondary {
        color:$secondary-color;
        &:hover {
          color:$secondary-color-dark;
          //box-shadow:    inset 0 0 0 1px $secondary-color;;
        }
    }

  }



   label:hover {
    //background-color: #dfd;
    //box-shadow: inset 0px 0px 2px 0px gray;
    //box-shadow:    inset 0 0 0 1px $primary-color;
    transition: all 100ms;
    color: $primary-color-dark;
  }

   input[type="radio"]:checked + label { 
      //background-color:#bfb;
       //border: 1px solid $primary-color;
       color: $primary-color;
       -moz-box-shadow:    inset 0 0 0 2px $primary-color;
     -webkit-box-shadow: inset 0 0 0 2px $primary-color;
     box-shadow:         inset 0 0 0 2px $primary-color;
     //transition: box-shadow 150ms;
     //background-color: $primary-color;
     //color:white;
     cursor: default;
    }

    input[type="radio"]:checked + label.secondary {
      //background-color: $secondary-color;
      //color:white;
      color: $secondary-color;
     cursor: default;
     border: 1px solid $secondary-color;
            -moz-box-shadow:    inset 0 0 0 1px $secondary-color;
     -webkit-box-shadow: inset 0 0 0 1px $secondary-color;
     box-shadow:         inset 0 0 0 1px $secondary-color;
     //transition: box-shadow 100ms;
    }
  

  
}


&.payments {
       margin-right:0 !important;
     input[type="radio"] {
      display:none; 
            display: table-cell;
      margin: 0 auto;

    }

    input[type="radio"]:checked + label { 
      //background-color:#bfb;
       border: 2px solid $primary-color;
       color: $primary-color;
       -moz-box-shadow:    inset 0 0 0 2px $primary-color;
     -webkit-box-shadow: inset 0 0 0 2px $primary-color;
     box-shadow:         inset 0 0 0 2px $primary-color;
     //transition: box-shadow 150ms;
     background-color: transparent !important;
     //color:white;
     cursor: default;
    }
    
   
 

    @media #{$small-and-down} {
      label {font-size:0.8rem; height: 50px !important;  width:90px; padding: 3px !important ;


       .employee-photo {
      width:80px !important;
      height: 80px !important;
      margin:0; 
      border:0;
       }
      }
   }  

      @media #{$medium-and-up} {
    label {font-size:1em; height: 76px !important;  width:132px; margin: 4px; padding:8; 



       .employee-photo {
      width:100px !important;
      height: 100px !important;
      margin:0; 
      border:0;
     

      }
    }
   }  

   label {
      display:inline-block;
      //background-color:#ddd;
      

      //font-size:0.8rem;
      //border: 1px solid gray;
      //border-radius: 50%;    
      cursor: pointer;
      color: $dark-color;
      //height: 100px;
      //line-height: 3em;
      ///width:100px;
      //box-shadow: inset 0 0 0 0 gray;
      vertical-align: middle !important;
      border-radius:0;
      display: flex;
    justify-content: center;
    align-items: center;
    color:$dark-color;
    display: block;
    margin: 0 auto;

   

  }



   label:hover {
    //background-color: #dfd;
    //box-shadow: inset 0px 0px 2px 0px gray;
    //box-shadow:    inset 0 0 0 1px $primary-color;
    transition: all 100ms;
    color: $primary-color-dark;
  }

   input[type="radio"]:checked + label { 
      //background-color:#bfb;
       //border: 1px solid $primary-color;
       color: $primary-color;
       -moz-box-shadow:    inset 0 0 0 2px $primary-color;
     -webkit-box-shadow: inset 0 0 0 2px $primary-color;
     box-shadow:         inset 0 0 0 2px $primary-color;
     //transition: box-shadow 150ms;
     //background-color: $primary-color;
     //color:white;
     cursor: default;
    }

   

  
}

.discount_unactive {
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
  transition: all 500ms;
}


  
    }
  

  
 .employee-photo-mini {
      width:50px !important;
      height: 50px !important;
      margin:0; 
      //border:2px solid blue;
      background-color:red;
     

      }

  .margin-left-50 {
    margin-left: 55px;
  }


  .icon-summary {
        width: 30px;
    height: 30px;
    content: ' ';
    //counter-increment: step;
    line-height: 26px;
    //border: 2px solid $secondary-color;
    color: $secondary-color;
    display: block;
    text-align: center;
    //margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    z-index:1;
    display: inline-block;
    position:relative;
    top:4px;
    font-size:20px;
  }

/****************************
10 *** Select datetime
****************************/
.calendar {
  td {
    padding:5px;
  }

   
     
          

.calendar-header {
  @extend .primary-bg, .white-text;
  padding:0.5em;
  text-align: center;
  font-size:1.3em;

  a {
    color:white;
    cursor: pointer;
    position:relative;
    top:5px;
    &:hover {
      color:$dark-color;
      transition: all 100ms;
    }
    &.unactive {
      color:$primary-color-light2;
       cursor: default;
    }
  }


}

a {
    color: $primary-color ;
    cursor: pointer;
    //position:relative;
    //top:5px;
    &:hover {
      color:$dark-color;
      transition: all 100ms;
    }
    &.unactive {
      color:$light-color;
       cursor: default;
    }
  }


@media #{$small-and-down} {
      .icon {
    width: 30px;
    height: 30px;
    //content: ' ';
    line-height: 26px;
    }
    td{ padding: 5px 0; text-align:center;}
   }  

      @media #{$medium-and-up} {
         .icon {
    width: 40px;
    height: 40px;
    //content: ' ';
    line-height: 36px;
    }
   }  


.icon {
    //width: 40px;
    //height: 40px;
    //content: ' ';
    //line-height: 36px;
    display: block;
    text-align: center;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    //z-index:1;
    //padding:1em

    &.not-month {
    border: 2px solid white;
    color: $light-color;
    background-color: white;
    }

    &.active {
      border: 2px solid $primary-color;
      color: white;
      background-color: $primary-color;
      //color: $primary-color;
    }

    &.free {
      border: 2px solid $light-color;
      color: $primary-color;
      background-color: white;
      cursor:pointer;
      transition: all 100ms;
      &:hover{
        color:$primary-color-dark;
        border: 2px solid $primary-color;
      }
    }

    &.busy {
      border: 2px solid $light-color;
      color: white;
      background-color: $light-color;
    }

     &.busy {
    border: 2px solid $light-color;
    color: $light-color;
    background-color: white;
    }
  }

  .days-of-week{
    text-align:center;
    color: $grey-color;
  }

  .houres_cat {
    text-align:center;
    color: $grey-color;
  }

 
   
      
  
}
.calendar-hours {
  label {width: auto !important ;}
}

label.standard {font-size:14px !important;   width: 100px !important; padding: 9px; margin:0 auto !important; }

.pin-bar-s {
  @media #{$small-and-down} {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
  }
  @media #{$medium-and-up} {
    position:relative;
    top:0;
    left:0;
    width:100%;
  }
}

.mini-photo-s {
  @media #{$small-and-down} {
    width:54px !important;
    height:54px !important;
  }
}


/****************************
11 *** Buttons
****************************/


.btn span,  a.secondary-text span {
position:relative; 
top:-4px; 
margin-left:5px; 
font-style: normal;
}

.right-align-l {
  @media #{$medium-and-up} {
    float: right;
  }
}

.left-align-l {
  @media #{$medium-and-up} {
    float: left;
  }
}


/****************************
12 *** Cart
****************************/
.btn-icon {
  text-align:center;
  display:inline-block;
  margin:5px;

  //margin:1em;
  i {font-size:1.1em;}
}

.panel-height-200 {
   @media #{$medium-and-up} {
    height: 200px;
  }
}


/****************************
13 *** Resume
****************************/

.mini-photo-service {
  width:60px !important;
  height:60px !important;
  display:inline-block;
}

/****************************
14 *** Home
****************************/
.big-icon {
  font-size:34px !important;
}


.watch-stripe {
  @media #{$small-and-down} {
    width:100%;
    height:auto;
    margin:0 auto; padding:0px 5px; padding-bottom:5px;
    margin-bottom: 15px !important;
  }
  @media #{$medium-and-up} {
    
    width:80%;
    height:100%;
    margin:0 auto;  padding:0; padding-right:5px;
    padding: 15px;
    padding-left: 0;
    margin-left:0;
    //border-bottom-left-radius: 50%;
     //border-top-left-radius: 50%;
      //border-bottom-right-radius: 50%;
  }

}

.watch-td {
  @media #{$small-and-down} {
padding:0;

  } 
    @media #{$medium-and-up} {
    
    padding: 15px;
    padding-left:0;
  }
}

/****************************
15 *** LANDING PAGE
****************************/
.landing-page {
  .container {
  padding:1.5em;  
  }
}

.hero-container {
    height: 60%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/lp/asia3.png);

  /* Set a specific height */
  //height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  @extend .black-text;
}
.hero-subtitle {
  @extend h2
}

.str1-icon1 {stroke:white;stroke-width:31.76;stroke-miterlimit:22.9256}
.str0-icon1 {stroke:#999999;stroke-width:15.88;stroke-miterlimit:22.9256}
.fil0-icon1 {fill:#B3B3B3}
.fil2-icon1 {fill:#FF6600}
.fil1-icon1 {fill:white}

.str0-icon2 {stroke:#999999;stroke-width:58.06;stroke-miterlimit:22.9256}
.fil0-icon2 {fill:#B3B3B3}
.fil2-icon2 {fill:#FF6600}
.fil1-icon2 {fill:white}

.str0-icon3 {stroke:#999999;stroke-width:43.43;stroke-miterlimit:22.9256}
.fil0-icon3 {fill:#B3B3B3}
.fil2-icon3 {fill:#FF6600}
.fil1-icon3 {fill:white}

.str6-ekosystem {stroke:#41D5FF;stroke-width:3.566;stroke-miterlimit:22.9256}
.str5-ekosystem {stroke:#FF6600;stroke-width:3.566;stroke-miterlimit:22.9256}
.str4-ekosystem {stroke:#FF7B25;stroke-width:3.566;stroke-miterlimit:22.9256}
.str2-ekosystem {stroke:#41D5FF;stroke-width:1.783;stroke-miterlimit:22.9256}
.str7-ekosystem {stroke:white;stroke-width:7.132;stroke-miterlimit:22.9256}
.str3-ekosystem {stroke:#FF7B25;stroke-width:0.674;stroke-miterlimit:22.9256}
.str0-ekosystem {stroke:#00789A;stroke-width:1.783;stroke-miterlimit:22.9256;stroke-dasharray:3.565000 5.348000}
.str1-ekosystem {stroke:#41D5FF;stroke-width:1.783;stroke-miterlimit:22.9256;stroke-dasharray:1.783000 5.348000}
.fil0-ekosystem {fill:none}
.fil2-ekosystem {fill:#00789A}
.fil1-ekosystem {fill:#41D5FF}
.fil5-ekosystem {fill:#FF6600}
.fil3-ekosystem {fill:#FF7B25}
.fil4-ekosystem {fill:white}

.fil1 {fill:#00789A}
.fil2 {fill:#00C8FF}
.fil0 {fill:#FF6600}
.fil3 {fill:#FF7B25}
.fil4 {fill:white}

.step1-fil0 {fill:#00789A}
.step1-fil1 {fill:#FF6600}

.step2-fil1 {fill:#00789A}
.step2-fil0 {fill:#00CCFF}
.step2-fil2 {fill:#FF6600}
.step2-fil3 {fill:#FF7B25}
.step2-fil4 {fill:white}

.step3-str2 {stroke:#41D5FF;stroke-width:3.755;stroke-miterlimit:22.9256}
.step3-str1 {stroke:#00C8FF;stroke-width:5.007;stroke-miterlimit:22.9256}
.step3-str0 {stroke:#00C8FF;stroke-width:0.946;stroke-miterlimit:22.9256}
.step3-fil1 {fill:none}
.step3-fil0 {fill:#00789A}
.step3-fil2 {fill:#00C8FF}
.step3-fil3 {fill:#FF6600}
.step3-fil4 {fill:white;fill-rule:nonzero}

.step4-str0 {stroke:#FF6600;stroke-width:2.436;stroke-miterlimit:22.9256}
.step4-fil4 {fill:none}
.step4-fil1 {fill:#00789A}
.step4-fil0 {fill:#00C8FF}
.step4-fil3 {fill:#FF6600}
.step4-fil2 {fill:white}

.step5-str2 {stroke:#41D5FF;stroke-width:2.742;stroke-miterlimit:22.9256}
.step5-str1 {stroke:#00C8FF;stroke-width:3.656;stroke-miterlimit:22.9256}
.step5-str0 {stroke:#00C8FF;stroke-width:0.691;stroke-miterlimit:22.9256}
.step5-fil1 {fill:none}
.step5-fil0 {fill:#00789A}
.step5-fil2 {fill:#00C8FF}
.step5-fil3 {fill:#FF6600}
.step5-fil4 {fill:white}

.step6-str2 {stroke:#41D5FF;stroke-width:2.742;stroke-miterlimit:22.9256}
.step6-str1 {stroke:#00C8FF;stroke-width:3.656;stroke-miterlimit:22.9256}
.step6-str0 {stroke:#00C8FF;stroke-width:0.691;stroke-miterlimit:22.9256}
.step6-fil1 {fill:none}
.step6-fil0 {fill:#00789A}
.step6-fil2 {fill:#00C8FF}
.step6-fil3 {fill:#FF6600}
.step6-fil4 {fill:white}

.duty1-str0 {stroke:#999999;stroke-width:0.397;stroke-miterlimit:22.9256}
.duty1-fil0 {fill:#FF6600}
.duty1-fil1 {fill:white}

.duty2-str0 {stroke:#999999;stroke-width:58.06;stroke-miterlimit:22.9256}
.duty2-fil0 {fill:#B3B3B3}
.duty2-fil2 {fill:#FF6600}
.duty2-fil1 {fill:white}

.ania-str0 {stroke:#999999;stroke-width:0.466;stroke-miterlimit:22.9256}
.ania-fil1 {fill:#00C8FF}
.ania-fil0 {fill:white}

.tomek-str0 {stroke:#999999;stroke-width:1.144;stroke-miterlimit:22.9256}
.tomek-fil1 {fill:#FF6600}
.tomek-fil0 {fill:white}