body {
  background-color: $background-color;
}
.container {
  margin: 0 auto;
  //max-width: 1150px !important;
  width: 100%;
  max-width: $max-container-width;
  padding: 0.75rem;
  //border: 1px solid $light-color;
  border-bottom: none;
  padding-bottom: none;
  &:last-child {
    border-bottom: 1px solid $light-color !important;
  }

  .pad {
    padding: 0.75rem;
  }


  .panel-border {
    border: 1px solid $collapsible-border-color;
  }
  .panel {
    margin: 0;
    padding: 0.75rem;
    margin:0 0.75rem;
    margin-bottom:1.5rem;
    //border: 1px solid #ddd;

    line-height: 1.5;
    padding: 1rem;
    &.empty {border: none;}
    //&:last-child {
    //  margin-right:0;
    //}
  }
    .row {
      margin:0;
    }
   .row > .col:first-child
    {
      .panel { margin-left:0;}
    }

    .row > .col:last-child
    {
      .panel { margin-right:0 !important;}
    }
    @media #{$small-and-down} {
      .row > .col.s12
      {
        .panel { margin-left:0;  margin-right:0; }
      }
    }
    @media #{$medium-and-up} {
      .row > .col.m12
      {
        .panel { margin-left:0;  margin-right:0;}
      }
    }
    @media #{$large-and-up} {
      .row > .col.l12
      {
        .panel { margin-left:0;  margin-right:0;}
      }
    }
    
   
}

@media #{$medium-and-down} {
  .container {
    //width: 90%;
    //width:1200px;
    padding:10px 10px;
    padding:10px 0;
  }
}
@media #{$medium-and-up} {
  .container {
    //width: 90%;
    //width:1200px;
  }
}
@media #{$large-and-up} {
  .container {
    //width: 70%;
    //width:1200px;  
  }
}
.col .row {
  //margin-left: (-1 * $gutter-width / 2);
  //margin-right: (-1 * $gutter-width / 2);
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.no-pad {
    padding: 0;
  }
  &.no-pad-bot {
    padding-bottom: 0;
  }
  &.no-pad-top {
    padding-top: 0;
  }
}


// Mixins to eliminate code repitition
@mixin reset-offset {
  margin-left: auto;
  left: auto;
  right: auto;
}
@mixin grid-classes($size, $i, $perc) {
  &.offset-#{$size}#{$i} {
    margin-left: $perc;
  }
  &.pull-#{$size}#{$i} {
    right: $perc;
  }
  &.push-#{$size}#{$i} {
    left: $perc;
  }
}


.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  // Clear floating children
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .col {
    float: left;
    box-sizing: border-box;
    //padding: 0 $gutter-width / 2;
    min-height: 1px;

    &[class*="push-"],
    &[class*="pull-"] {
      position: relative;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.s#{$i} {
        width: $perc;
        @include reset-offset;
      }
      $i: $i + 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      @include grid-classes("s", $i, $perc);
      $i: $i + 1;
    }

    @media #{$medium-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.m#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        @include grid-classes("m", $i, $perc);
        $i: $i + 1;
      }
    }

    @media #{$large-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.l#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        @include grid-classes("l", $i, $perc);
        $i: $i + 1;
      }
    }

    @media #{$extra-large-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.xl#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        @include grid-classes("xl", $i, $perc);
        $i: $i + 1;
      }
    }
  }
}

.no-mar-bottom {
    margin-bottom: 0 !important;
  }

  .no-pad-top {
    padding-top: 0 !important;
  }
