<style>
.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
    display:none; 
}

.radio-toolbar label {
    display:inline-block;
    //background-color:#ddd;
    padding: 10px 30px;
    font-family:Arial;
    font-size:16px;
    //border: 1px solid gray;
    border-radius: 2px;    
    cursor: pointer;
    transition: all 100ms;
    box-shadow: inset 0 0 1px 1px gray;
    -moz-box-shadow: inset 0 0 1px 1px gray;
    -webkit-box-shadow: inset 0 0 1px 1px gray;
}



.radio-toolbar label:hover {
  //background-color: #dfd;
  box-shadow: inset 0 0 0px 2px gray;
  transition: all 100ms;
}

.radio-toolbar input[type="radio"]:checked + label { 
    //background-color:#bfb;
     border: 0px solid orange;
     -moz-box-shadow:    inset 0 0 0px 2px orange;
   -webkit-box-shadow: inset 0 0 0px 2px orange;
   box-shadow:         inset 0 0 0px 2px orange;
   transition: all 150ms;
}
</style>

<div class="radio-toolbar">
    <input type="radio" id="radioApple" name="radioFruit" value="apple" checked>
    <label for="radioApple">  

    Apple
    </label>

    <input type="radio" id="radioBanana" name="radioFruit" value="banana">
    <label for="radioBanana">Banana</label>

    <input type="radio" id="radioOrange" name="radioFruit" value="orange">
    <label for="radioOrange"> Orange</label> 
</div>